USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Product')
BEGIN
    CREATE DATABASE [Product]
END
GO

USE [Product]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTTYPE]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[PRODUCTTYPE](
        [PRODUCTTYPEID] [varchar](5) NOT NULL,
        [PRODUCTTYPENAME] [varchar](20) NOT NULL,
        CONSTRAINT [PK_PRODUCTTYPE] PRIMARY KEY CLUSTERED ([PRODUCTTYPEID] ASC)
    )
END
GO

IF NOT EXISTS (SELECT * FROM [dbo].[PRODUCTTYPE] WHERE [PRODUCTTYPEID] = 'B')
    INSERT [dbo].[PRODUCTTYPE] ([PRODUCTTYPEID], [PRODUCTTYPENAME]) VALUES (N'B', N'เสื้อชั้นใน')

IF NOT EXISTS (SELECT * FROM [dbo].[PRODUCTTYPE] WHERE [PRODUCTTYPEID] = 'U')
    INSERT [dbo].[PRODUCTTYPE] ([PRODUCTTYPEID], [PRODUCTTYPENAME]) VALUES (N'U', N'กางเกงใน')
GO

-- 4. สร้างตารางสินค้า (PRODUCTMASTER)
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTMASTER]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[PRODUCTMASTER](
        [PRODUCTID] [varchar](20) NOT NULL,
        [PRODUCTNAME] [varchar](20) NOT NULL,
        [PRODUCTTYPEID] [varchar](5) NOT NULL,
        [PRODUCTSTATUS] [int] NOT NULL,
        [CREATEUSER] [varchar](20) NOT NULL,
        [CREATEDATE] [datetime] NOT NULL CONSTRAINT [DF_PRODUCTMASTER_CREATEDATE] DEFAULT (GETDATE()),
        [UPDATEUSER] [varchar](20) NULL,
        [UPDATEDATE] [datetime] NULL,
        CONSTRAINT [PK_PRODUCTMASTER] PRIMARY KEY CLUSTERED ([PRODUCTID] ASC),
        
        CONSTRAINT [FK_PRODUCTMASTER_PRODUCTTYPE] FOREIGN KEY([PRODUCTTYPEID]) 
        REFERENCES [dbo].[PRODUCTTYPE] ([PRODUCTTYPEID])
    )
END
GO